.logo{
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    display: inline-block;
    vertical-align: middle;
}

.logo-container {
    display: flex;
    justify-content: space-around; /* Cette ligne est optionnelle. Elle ajoute un espace égal entre les logos. */
}