.button-redirection{
    margin: 75px 150px auto;
    padding: 20px;
    color: black;
    background-color: white;
    font-family: "Century Gothic", "Lato", sans-serif;
    border: solid 1px white;
    border-radius: 10px;
    cursor: pointer;
}

.button-redirection:hover{
    background-color: black;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s;
}